<html>
<head>
    <title>ADMIN_TWEETS</title>
</head>
<body>
<div>
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    </form>
    <a href="/">MAIN PAGE</a>
</div>
    <form action="/user/monitor/new" method="post">
        <div>Add new user</div>
        <input type="text" name="login" placeholder="Enter username here">
        <input type="text" name="password" placeholder="Enter password here">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">Add user</button>
    </form>

<b>List of all users</b>
<dl>
    {{#users}}
        <dt>{{username}} <a href="/user/edit">EDIT</a></dt>
        <dd>
            <ul>
                <li>ID: {{id}}</li>
                <li>PASSWORD:{{password}}</li>
            </ul>
        </dd>
    {{/users}}
</dl>

</body>
</html>