<html>
<head>
    <title>ADMIN_TWEETS</title>
</head>
<body>
<div>
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    </form>
    <a href="/">MAIN PAGE</a>
</div>

<div>Tweet list</div>
<form method="post" action="/tweet/filter">
    <div>filter by author</div>
    <input type="text" name="filter"/>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <button type="submit">Confirm</button>
</form>

<dl>
{{#tweets}}
    <dt><strong>{{author.getUsername}}</strong></dt>
    <dd>
        <ul>
            <li>ID: {{id}}</li>
            <li>TEXT:{{text}}</li>
        </ul>
    </dd>
{{/tweets}}
</dl>

</body>
</html>