<html>
<head>
    <title>ADMIN_TWEETS</title>
</head>
<body>
<div>
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    </form>
    <a href="/">MAIN PAGE</a>
</div>
    <form action="/user" method="post">
        <div>Add new author</div>
        <input type="text" name="login" placeholder="LOGIN">
        <input type="text" name="password" placeholder="PASS">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">Add</button>
    </form>

<dl>
    {{#users}}
        <dt>{{username}}</dt>
        <dd>
            <ul>
                <li>ID: {{id}}</li>
                <li>PASSWORD:{{password}}</li>
            </ul>
        </dd>
    {{/users}}
</dl>

</body>
</html>