<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<form action="/logout" method="post">
    <input type="submit" value="Sign Out"/>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
</form>

<div>
    <a href="/login">Login page</a>
</div>

    <div>
        <b>Admin Panel</b>
        <ul>
            <li><a href="/tweet/monitor">Tweets monitoring</a></li>
            <li><a href="/user/monitor">Users monitoring</a></li>
        </ul>

    </div>

    <div>
        <b>User page</b>
        <a href="/user">Home</a>
    </div>
</body>
</html>