<html>

<body>
<form action="/logout" method="post">
    <input type="submit" value="Sign Out"/>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
</form>

    <div><a href="/tweet">TWEET ADMIN</a></div>
    <div><a href="/user">USER ADMIN</a></div>


    <div><a href="/home">HOME PAGE</a></div>
</body>
</html>