<html>
<head>
    <title>Your home page</title>
</head>
<body>
<div>
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    </form>
    <a href="/">MAIN PAGE</a>
</div>
<div>
    <div>
        <ul>
            <li><a href="/user/edit">EDIT PROFILE</a></li>
            <li><a href="/user/hello">Hello to user</a></li>
        </ul>


    </div>
    <div>Add <b>new tweet</b></div>
    <form action="/tweet/add" method="post" enctype="multipart/form-data">
        <input type="text" name="text"/>
        <input type="file" name="file">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit">Add my tweet</button>
    </form>
</div>

<div>
    <div>My tweets</div>
    {{#tweets}}
        <div>
            <i>{{text}}</i>
            {{#filename}}
            <div>
                <img src="/img/{{filename}}">
            </div>
            {{/filename}}
        </div>
    {{/tweets}}
</div>
</body>
</html>